# ---- Environment / Secrets ----
.env
.env.*
*.env
.venv/
venv/
.DS_Store
urban_watch/.DS_Store

# ---- data ----
data

# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Build & Egg ----
build/
dist/
*.egg-info/

# ---- Notebooks ----
*.ipynb_checkpoints/

# ---- OS / Editor ----
.DS_Store
**/.DS_Store
.python-version
