sentinelhub
matplotlib
numpy
rasterio
folium
dotenv
pandas
pyproj
scikit-learn
Requests
Streamlit
MLFlow
google-cloud-storage
opencv-python-headless
s2cloudless
xgboost


#mlflow
mlflow==2.2.2
psycopg2-binary
