# Sentinel & Geospatial
sentinelhub
rasterio
s2cloudless
folium
pyproj
opencv-python-headless
google-cloud-storage

# ML & Preprocessing
numpy
pandas
scikit-learn
lightgbm
catboost
xgboost

# API / App
streamlit
requests
python-dotenv

# Visualization
matplotlib

# MLOps
mlflow==2.2.2
psycopg2-binary


